.blog {
    margin: 50px;

    &__title {
        margin: 80px 220px;
        font-family: "Inter", sans-serif;
        font-size: 68px;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: -0.02em;
        text-align: center;
        width: 800px;
    }

    &__buttons {
        display: flex;
        gap: 20px;

        button {
            padding: 8px 16px;
            border-radius: 4px;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            text-align: left;
            color: rgba(0, 0, 0, 1);
            background: rgba(242, 244, 247, 1);
            transition: background 0.2s ease;

            white-space: nowrap;



            &:hover {
                background: rgba(57, 60, 227, 1);
                color: white;
            }

            &:active {
                background: rgba(57, 60, 227, 1);
                color: white;
            }
        }


    }


}


.blog {
    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 80px 0px;
        gap: 40px;
    }

    &__firstinfo_p_big {
        //styleName: Display lg/Semibold;
        font-family: Inter;
        font-size: 48px;
        font-weight: 600;
        line-height: 60px;
        letter-spacing: -0.02em;
        text-align: left;
        color: rgba(16, 24, 40, 1);
        width: 590px;

    }

    &__firstinfo_p_small {
        //styleName: Text md/Regular;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: rgba(71, 84, 103, 1);

    }

    &__secondinfo {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__bigword {
        //styleName: Display xs/Semibold;
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        color: rgba(16, 24, 40, 1);

    }

    &__smallword {
        //styleName: Text md/Regular;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: rgba(71, 84, 103, 1);

    }
}




.blog {
    &__news {
        display: flex;
        align-items: center;
        // justify-content: center;
        flex-direction: column;
        position: relative;

    }

    &__news_one {
        display: flex;
        gap: 60px;

        margin: 30px 0px;

    }

    &__news_one_left {
        width: 120px;
    }

    &__news_one_left_p {

        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: rgba(71, 84, 103, 1);

    }

    &__news_one_right {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 488px;
    }
}

.ui_ux {
    //styleName: Text md/Regular;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(71, 84, 103, 1);

}


.top_ten {

    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    color: rgba(16, 24, 40, 1);

}



.framework_p {

    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(71, 84, 103, 1);

}


.blog_card {
    margin: 0px 50px;
    width: 280px;
    background: rgba(242, 244, 247, 1);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 20px 20px;
    border-radius: 15px;


    position: absolute;
    right: 0;
    top: 0;

}

.new_blogs {
    //styleName: Text lg/Bold;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: rgba(20, 20, 20, 1);
}


.ux_solutions {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(20, 20, 20, 1);

    border-bottom: 1px solid rgba(20, 20, 20, 1);
}